.codeEditor
  width: 100% 
  border: 1px solid

.CodeMirror-linenumber
  left: -31px !important

.ReactCodeMirror, .CodeMirror, .codeEditor, 
  height: 100%

.CodeMirror-selectedtext
  background: #484e99 !important

.CodeMirror-cursor
  background: #fff !important

  
